header {
  width: 100vw;
  height: 8vh;
  background-color: #ffffff;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 92vh;
}

.container {
  width: 60%;
  height: 90%;
  border-radius: 8px;
  background-color: #ffffff;
}

.step {
  /* background-color: purple; */
  height: 14%;
  border-bottom: 2px #f0f0f0 solid;
}

.content {
  height: 72%;
  display: flex;
  flex-wrap: wrap;
}

.description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 12%;
  padding-left: 40px;
  padding-right: 40px;
}

.crop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 88%;
}

.preview {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 88%;
}

.preview > img {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 14%;
  border-top: 2px #f0f0f0 solid;
  padding-left: 40px;
  padding-right: 40px;
}

.addButton > label {
  border-radius: 4px;
  border: 1px solid #1d1d1d;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
}

.actionButtons {
  display: flex;
  gap: 16px;
}

button {
  border: 2px black solid;
}

input[type="file"] {
  display: none;
}

/* .imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

img {
  width: 100%;
}

.crop {
  position: "relative";
  width: "50%";
  height: 100;
  background: "#333";
} */
